<script async src="./js/login.js"></script>

<header>
   <nav class="nb-row block">
      <ul class="c-row flex">
         <a href="/">
            <p class="link">HomePage</p>
         </a><span> | </span>
         <a href="/dashboard">
            <p class="link">Dashboard</p>
         </a><span> | </span>
         {{#if user}}
         <a href="/logout">
            <p class="link">Logout</p>
         </a><span> | </span>
         {{else}}
         <a href="/login">
            <p class="link">Login</p>
         </a><span> | </span>
         {{/if}}
         <a href="/register">
            <p class="current-page current-link">Register Here!</p>
         </a>
      </ul>
   </nav>
</header>
<section>
   <form class="f-row block register-form">
      <div class="inv-fieldset">
         <label id="username-label" for="username-row">New username:</label>
         <span class="in-row"><input id="username-row" /></span>
      </div>
      <div class="inv-fieldset">
         <label id="password-label" for="password-row">New password:</label>
         <span class="in-row"><input id="password-row" /></span>
      </div>
      <button class="btn-row" type="submit">Register</button>
      <br />
   </form>
</section>