/* styling for large tablet devices and small laptops */
@media screen and (min-width: 579px) and (max-width: 1026px) {
  body {
     font-size: 2ch !important;
  }
}
/* styling for desktop computers */
@media screen and (min-width: 1027px) {
  body {
     font-size: 5ch;
  }
}

body {
  overflow: scroll;
}

.nb-row {
  min-width: 125%;
   position: relative;
   left: calc(-12.5%);
}

.c-row {
  scale: 0.75;
  margin-bottom: 2rem;
  justify-content: center;
}

.btn-row {
  margin-top: 1.5rem;
}

.link:hover {
  transition: linear 0.3s;
  color: var(--gray-color);
}

.current-link:hover {
  transition: linear 0.3s;
  color: var(--success-border-color);
}

.current-page {
  color: var(--success-color);
}

.inv-fieldset {
  padding-top: -2.5rem;
  transform: translateY(1.5rem);
}